section.support-section
  .wrapper
    .support-section__container
      img.support-section__smoke-img(src="images/support-section-smoke-img.png" loading="lazy" width="434" height="878" alt="icon")
      h2.support-section__title.font-w-b-black.font-s-42.text-up
        span.color-red Какую поддержку 
        | мы окажем 
        br.no-br
        | вам на старте бизнеса
      .swiper-support
        .support-section__cards.swiper-wrapper
          .support-section__card.swiper-slide
            img.support-section__card-icon(src="images/support-section-card-icon-1.svg" loading="lazy" width="84" height="84" alt="icon")
            .font-s-16
              | Предоставим 
              br
              | Базу знаний 
              br
              | франшизы
          .support-section__card.swiper-slide
            img.support-section__card-icon(src="images/support-section-card-icon-2.svg" loading="lazy" width="84" height="84" alt="icon")
            .font-s-16
              | Проведем обучение 
              br
              | для вас и вашей 
              br
              | команды
          .support-section__card.swiper-slide
            img.support-section__card-icon(src="images/support-section-card-icon-3.svg" loading="lazy" width="84" height="84" alt="icon")
            .font-s-16
              | Предоставим готовые 
              br
              | должностные инструкции 
              br
              | для сотрудников
          .support-section__card.swiper-slide
            img.support-section__card-icon(src="images/support-section-card-icon-4.svg" loading="lazy" width="84" height="84" alt="icon")
            .font-s-16
              | Дадим подробные 
              br
              | рекомендации 
              br
              | по найму персонала
          .support-section__card.swiper-slide
            img.support-section__card-icon(src="images/support-section-card-icon-5.svg" loading="lazy" width="84" height="84" alt="icon")
            .font-s-16
              | Поделимся контактами 
              br
              | проверенных 
              br
              | специалистов по маркетингу
          .support-section__card.swiper-slide
            img.support-section__card-icon(src="images/support-section-card-icon-6.svg" loading="lazy" width="84" height="84" alt="icon")
            .font-s-16
              | Поможем выбрать 
              br
              | лучшее 
              br
              | помещение
          .support-section__card.swiper-slide
            img.support-section__card-icon(src="images/support-section-card-icon-7.svg" loading="lazy" width="84" height="84" alt="icon")
            .font-s-16
              | Передадим технологии 
              br
              | работы с 
              br
              | поверхностями
          .support-section__card.swiper-slide
            img.support-section__card-icon(src="images/support-section-card-icon-8.svg" loading="lazy" width="84" height="84" alt="icon")
            .font-s-16
              | Поделимся списком 
              br
              | проверенных поставщиков 
              br
              | химии и оборудования
          .support-section__card.swiper-slide
            img.support-section__card-icon(src="images/support-section-card-icon-9.svg" loading="lazy" width="84" height="84" alt="icon")
            .font-s-16
              | Подключим к общему 
              br
              | программному 
              br
              | обеспечению
          .support-section__card.swiper-slide
            img.support-section__card-icon(src="images/support-section-card-icon-10.svg" loading="lazy" width="84" height="84" alt="icon")
            .font-s-16
              | Добавим в закрытое 
              br
              | сообщество 
              br
              | партнеров сети
        .support-pagination.swiper-progress-support
      .support-section__bottom
        img.support-section__doc-img(src="images/support-section-doc-img.png" loading="lazy" width="106" height="106" alt="icon")
        img.support-section__arrow-img(src="images/support-section-arrow-img.png" loading="lazy" width="207" height="171" alt="icon")
        .font-w-medium.font-s-20
          | Получите подробный план 
          br
          | открытия 
          span.color-red в 1 клик
        button.btn.support-section__btn(data-remodal-target="modal-form-plan") Получить
